<template>
  <div>
    <h1>Gifs</h1>
    <input type="text" v-model="searchTxt" class="search" placeholder="Search gifs..." v-on:keyup.enter="search">
    <div v-show="data.length !== 0" class="row">
      <div class="item" v-for="item in data">
        <img v-on:click="search" v-bind:src="item.images.fixed_height.url" alt="">
      </div>
    </div>
    <p v-show="data.length === 0" class="loader">Loading...</p>
  </div>
</template>

<script>
  import Config from '../config';
  export default {
    name: 'Home',
    data() {
      return {
        searchTxt: '',
        data: []
      };
    },
    created() {
      fetch(Config.host + '&limit=25&rating=G')
        .then(res => { return res.json() })
        .then(res => this.data = res.data);
    },
    methods: {
      search() {
        console.log(this.searchTxt);
        this.data = [];
        if (this.searchTxt === '') {
          fetch(Config.host + '&limit=25&rating=G')
            .then(res => { return res.json() })
            .then(res => this.data = res.data);
        } else {
          fetch('https://api.giphy.com/v1/stickers/search?api_key=16qcY9PptmIOERQwenAm6a8sTSen5DgX&q=' + this.searchTxt + '&limit=25&offset=0&rating=G&lang=en')
            .then(res => { return res.json() })
            .then(res => this.data = res.data);
        }
      }
    }
  }
</script>

<style scoped>
  .row {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin:auto;
  }
  .item {
    width: 300px;
    margin: 10px;
  }
  .loader {
    margin-top: 100px;
    font-size: 30px;
  }
  .search {
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 10px;
    height: 35px;
    border-color: #ededed;
    text-align: center;
    color: #6d6d6d;
    font-size: 18px;
  }
</style>
